<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @collection.team.name %><br>
  <strong>Location:</strong>
  <%= @collection.location.name %><br>
  Your location has been confirmed at <%= @collection.created_at %>. 
  You have currently found <%= @collection.team.collections.count %> 
  locations out of <%= Location.count %>.
</p>