<!DOCTYPE html>
<html>
<head>
  <title>Scavanger Hunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
  <div class="alert">
    <% if get_annoucements.length > 0 %>
      <h4>Annoucements:</h4>
    <% end %>
    <ul>
    <% get_annoucements.each do |a|%>
      <li><%=a.content %></li>
    <% end %>
    </ul>
  </div>
  <hr>
  <%= yield %>
</div>
</body>
</html>
