<!DOCTYPE html>
<html>
<head>
  <title>Scavanger Hunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
  <div id=logo>
    <h1>Scavenger Hunt</h1>
  </div>
  <div class="alert">
    <% if get_annoucements.length > 0 %>
      <h3>Annoucements:</h3>
    <% end %>
    <ul>
    <% get_annoucements.each do |a|%>
      <li><%=a.content %></li>
    <% end %>
    </ul>
  </div>
  <hr>
  <%= yield %>
  <hr>
  <%= link_to "Home", root_path %>
</div>
</body>
</html>
